.bodies{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.NeedContainer{
    display: inline-block;
    align-items: center;
    margin: auto;
    text-align: center;
    width: fit-content;
    background-color: #150485;
    border: 3px solid;
    box-shadow: 5px 3px 3px #1a1d20;
    border-radius: 5px;
    padding: 40px;
}
.h1-nek{
    color: #8FD6E1;
}

.labelnek{
    margin: 5px;
    color: #8FD6E1;
}

.textInput{
    border-radius: 10px;
}

.gomb{
    border: 3px black;
    box-shadow: 2px 2px 2px #0F3460;
    margin: auto;
    transition-duration: 1s;
    cursor: pointer;
}

.Alert{
    width: fit-content;
    transform: translate(-50%, -50%);
    top:10%;
    left:50%;
}

.linkel{
    padding-top: 10px;
    margin: auto;
}

.color {
    color: #0a67ee;
}