.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cards{
    max-width: 40em;
    flex-direction: row;
    height: 90%;
    margin: 20px 0 20px 0;
    border-radius: 0;
    display: flex;
}

.card-bodies{
    justify-content: space-between;
}

.card-image{
    width: 210px;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    padding: 0.5em;
    max-height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.delete-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

body {
    margin-bottom: 60px;
    min-height: 100vh;
}

.main-container {
    min-height: 100vh;
}