.div-email {
    padding-bottom: 30px;
    border-bottom: dimgrey solid 2px;
}

.div-password {
    padding-top: 30px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

.sidebar a:hover {
    background-color: #ddd;
}

.main-content {
    margin-left: 450px;
    padding: 20px;
}
