.Webshop{
    font-size: 20px;
}

.navbar{
    margin-bottom: 10px;
}

.form-control{
    width: 70vh ;
}

.searchbar {
    width: 70vh !important;
}

.footer {
    border-top: black solid 0.5px;
    background-color: #A0E9FF;
    color: #222831;
    z-index: 1046 !important;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: fit-content;
    font-size: 10px;
    clear: both;
    text-align: center;
}

body {
    margin-bottom: 60px;
    min-height: 100vh;
}

p{
 margin: 0;
}

.search-container {
    position: fixed;
    top: 4.9%;
    bottom: 0;
    left: 1%;
    right: 0;
    width: 600px;
    overflow-y: auto;
    z-index: 999;
    height: 580px;
}

.search-container.active {
    display: block;
}

.search-container.inactive {
    display: none;
}

.search-container::-webkit-scrollbar {
    width: 0;
    display: none;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.social-icons a {
    color: #fff;
    margin: 0 5px;
}

.social-icons a:hover {
    color: #00f; /* Change color on hover as desired */
}

.copyright {
    margin-top: 20px;
}
